application: # TODO: change this.
version: 1
runtime: python27
api_version: 1
threadsafe: true

builtins:
- django_wsgi: on

libraries:
- name: django
  version: "1.5"
- name: numpy
  version: latest
- name: pycrypto
  version: latest
- name: ssl
  version: latest

handlers:
- url: /static
  static_dir: frontend/static/
  expiration: '365d'
