/*
 * Copyright 2017 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#pass_key {
  font-size: 2.25em;
  font-weight: bold;
}

test-template.green-background {
  --template-background-color: #00ff00;
}
