/*
 * Copyright 2014 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.display-subtest-image {
  background-image: url("./template.png");
}

#display-div {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
