/*
 * Copyright 2017 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Styles for cros.factory.testUI.TileManager */
#goofy-test-ui-main .goofy-tile-main-container {
  display: grid;
  flex: 1;
  align-items: stretch;
  justify-items: stretch;
}

.goofy-tile-main-container .goofy-tile-block {
  display: none;
  flex-flow: column;
  border: 1px gray solid;
}

.goofy-tile-main-container .goofy-tile-block.goofy-test-visible {
  display: flex;
}

.goofy-tile-main-container .goofy-tile-block .goofy-tile-title {
  text-align: center;
  background: #dddddd;
}

.goofy-tile-main-container .goofy-tile-block .goofy-tile-title.focused {
  background: #aaaaaa;
}

.goofy-tile-main-container .goofy-tile-block iframe {
  flex: 1;
}

