/* Copyright 2016 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  margin: 0;
  padding: 0;
}

/*
 * General CSS classes.
 */

.hidden {
  /* Used to hide an element. */
  display: none;
}

.bundle {
  margin: 18px 96px;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
