/*
 * Copyright 2013 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.point {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
}

#caption {
  font-size: 2.25em;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}
