# -*- mode: python -*-
{
  # Version of this test parameter file.
  'version': 'v0.01',

  'ui': {
    # Ignore enter key in serial number input.  (Some barcode readers
    # automatically input enter key, but we may prefer not to start the test
    # immediately after scanning barcode.)
    # This flag does not change the behavior of Space key.
    'ignore_enter_key': False
    },

  'sn': {
    # Whether to auto read serial number.
    'auto_read': False,
  },

  # Expected time duration of each test stage (used for progress bar).
  'chk_point': [
    ('als_start', 0.1),
    ('als_sn', 0.1),
    ('als_init', 0.1),
    ('als_light1', 2.00),
    ('als_light2', 2.00),
    ('als_light3', 2.00),
    ('als_calculation', 1.00),
    ('als_vpd', 0.5),
    ('als_end', 0.5),
    ('als_data_saved', 0)
    ],

  # ALS sensor parameters
  'conf': {
    # Light seq command
    # sequence of light name defined in chamber_cmd of ALS test argument
    'light_seq': ['LUX1', 'LUX2', 'LUX3', 'OFF'],

    # Number of samples to read
    'n_samples': 1,

    # Delay betwen each sample
    'read_delay': 2.0,

    # Time for wait light switch
    'light_delay': 3.0,

    # List of light intensity to test
    'luxs': [30, 100, 500],

    'slope_limit': (-1000, 1000),
    'intercept_limit': (-1000, 1000),

    # Command for saving measured result into VPD
    # The first argument is slope and the second is the intercept.
    'save_vpd': 'vpd -s "als_cal_slope"="%f"; vpd -s "als_cal_intercept"="%f"',
  }
}
