{% load static %}
<html>
<head>
  <title>{% block title %}Minijack{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" type="image/png" href="{% static 'images/logo32.png' %}">
  <link rel="stylesheet" type="text/css"
      href="{% static 'css/smoothness/jquery-ui-1.8.4.custom.css' %}">
  <link rel="stylesheet" type="text/css"
      href="{% static 'css/jquery.dataTables_themeroller.css' %}">
  <link rel="stylesheet" type="text/css"
      href="{% static 'css/ColVis.css' %}">
  <link rel="stylesheet" type="text/css"
      href="{% static 'css/minijack.css' %}">
  {% block stylesheets %}{% endblock %}
  <script type="text/javascript" language="javascript"
      src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" language="javascript"
      src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" language="javascript"
      src="{% static 'js/jquery.dataTables.plugins.js' %}"></script>
  <script type="text/javascript" language="javascript"
      src="{% static 'js/ColVis.min.js' %}"></script>
  <script type="text/javascript" language="javascript"
      src="{% static 'js/jquery-ui-custom.min.js' %}"></script>
  <script type="text/javascript" language="javascript"
      src="{% static 'js/minijack_common.js' %}"></script>
  {% block javascripts %}{% endblock %}
</head>
<body>
  <div class="right">
    <a href="{% url 'devices' %}"><button id="devices_button">DEVICES</button></a>
    <a href="{% url 'hwids' %}"><button id="hwids_button">HWIDS</button></a>
    <a href="{% url 'tests' %}"><button id="tests_button">TESTS</button></a>
    <a href="{% url 'query' %}"><button id="query_button">QUERY</button></a>
    {% block extra_buttons %}{% endblock %}
  </div>
  {% block body %}{% endblock %}
</body>
</html>
