{% load static %}
{% get_static_prefix as STATIC %}
{% load url from future %}
<html>
<head>
  <title>Minijack: Live of a Build</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" type="image/png" href="{{ STATIC }}images/logo32.png">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/smoothness/jquery-ui-1.8.4.custom.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/jquery.dataTables_themeroller.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/ColVis.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/minijack.css">
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.dataTables.plugins.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/ColVis.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery-ui-button.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/minijack_common.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/build_life.js"></script>
</head>
<body>
  <div class="right">
    <a href="{% url 'build' %}">
      <button id="home_button" disabled>HOME</button></a>
    <a href="{% url 'query' %}"><button id="query_button">QUERY</button></a>
    <a href="{% url 'hwid' %}"><button id="hwid_button">HWID</button></a>
  </div>

  <h1>Minijack: Life of a Build</h1>
  <br/>
  <div id="suite_radio">
    <input type="radio" id="radio0" name="radio" value="0" checked="checked" />
      <label for="radio0">General Info</label>
    <input type="radio" id="radio1" name="radio" value="1" />
      <label for="radio1">Recent Tests</label>
    <input type="radio" id="radio2" name="radio" value="2" />
      <label for="radio2">Recent Notes</label>
  </div>
  <br/>
  <table id="device_table" width="100%">
    <thead>
      <tr>
        <th></th>
        <th>device_id</th>
        <th>goofy_init_time</th>
        <th>latest_test</th>
        <th>test_time</th>
        <th>serial</th>
        <th>mlb_serial</th>
        <th>hwid</th>
        <th>ips</th>
        <th>ips_time</th>
        <th>latest_ended_test</th>
        <th>ended_status</th>
        <th>c_passed</th>
        <th>c_failed</th>
        <th>mj_status</th>
        <th>latest_note_lv</th>
        <th>note_name</th>
        <th>note_text</th>
        <th>note_time</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th>device_id</th>
        <th>goofy_init_time</th>
        <th>latest_test</th>
        <th>test_time</th>
        <th>serial</th>
        <th>mlb_serial</th>
        <th>hwid</th>
        <th>ips</th>
        <th>ips_time</th>
        <th>latest_ended_test</th>
        <th>ended_status</th>
        <th>c_passed</th>
        <th>c_failed</th>
        <th>mj_status</th>
        <th>latest_note_lv</th>
        <th>note_name</th>
        <th>note_text</th>
        <th>note_time</th>
      </tr>
    </tfoot>
    <tbody>
      {% for device in device_list %}<tr>
        <td width="20"><img src="{{ STATIC }}images/details_open.png"/></td>
        <td>
          <a href="{% url 'device' device.device_id %}">
            {{ device.device_id|truncatechars:18 }}
          </a>
        </td>
        <td>{{ device.goofy_init_time|slice:"5:16" }}</td>
        <td>{{ device.latest_test }}</td>
        <td>{{ device.latest_test_time|slice:"5:16" }}</td>
        <td>{{ device.serial }}</td>
        <td>{{ device.mlb_serial|truncatechars:24 }}</td>
        <td>{{ device.hwid }}</td>
        <td>{{ device.ips }}</td>
        <td>{{ device.ips_time|slice:"5:16" }}</td>
        <td>{{ device.latest_ended_test }}</td>
        <td>{{ device.latest_ended_status }}</td>
        <td align="right">{{ device.count_passed }}</td>
        <td align="right">{{ device.count_failed }}</td>
        <td>{{ device.minijack_status }}</td>
        <td>{{ device.latest_note_level }}</td>
        <td>{{ device.latest_note_name }}</td>
        <td>{{ device.latest_note_text|truncatechars:80 }}</td>
        <td>{{ device.latest_note_time|slice:"5:16" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
