{% load static %}
{% get_static_prefix as STATIC %}
{% load url from future %}
<html>
<head>
  <title>Minijack: Live of a Device</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" type="image/png" href="{{ STATIC }}images/logo32.png">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/smoothness/jquery-ui-1.8.4.custom.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/jquery.dataTables_themeroller.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/ColVis.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/minijack.css">
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.dataTables.plugins.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/ColVis.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery-ui-button.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/minijack_common.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/device_life.js"></script>
  <script type="text/javascript" language="javascript">
  {% regroup events by log_id as event_list %}
  var aaEvents = {{% for test_event in event_list %}
    "{{ test_event.grouper }}": [{% for event in test_event.list %}
      ["{{ event.event_id }}", "{{ event.event }}"],{% endfor %}
    ],{% endfor %}
  };
  </script>
</head>
<body>
  <div class="right">
    <a href="{% url 'build' %}"><button id="home_button">HOME</button></a>
    <a href="{% url 'query' %}"><button id="query_button">QUERY</button></a>
  </div>

  <h1>Minijack: Life of a Device</h1>

  <div class="container">
    <div class="right">
      <h2>Component Information</h2>
      <table class="screen">
        <tbody>{% for comp in comps %}
          <tr>
            <th align="left">{{ comp.component }}</th>
            <td>{{ comp.symbolic }}</td>
          </tr>{% endfor %}
        </tbody>
      </table>
     </div>

     <div class="left">
     <h2>Device Information</h2>
      <table class="screen">
        <tbody>
          <tr>
            <th align="right">device_id</th>
            <td>{{ device.device_id }}</td>
          </tr>
          <tr>
            <th align="right">goofy_init_time</th>
            <td>{{ device.goofy_init_time }}</td>
          </tr>
          <tr>
            <th align="right">serial</th>
            <td>{{ device.serial }}</td>
          </tr>
          <tr>
            <th align="right">mlb_serial</th>
            <td>{{ device.mlb_serial }}</td>
          </tr>
          <tr>
            <th align="right">hwid</th>
            <td>{{ device.hwid }}</td>
          </tr>
          <tr>
            <th align="right">ips</th>
            <td>{{ device.ips }}</td>
          </tr>
          <tr>
            <th align="right">ips_time</th>
            <td>{{ device.ips_time }}</td>
          </tr>
          <tr>
            <th align="right">mj_status</th>
            <td>{{ device.minijack_status }}</td>
          </tr>
        </tbody>
      </table>

      <h2>Test Statistic</h2>
      <table class="screen">
        <tbody>
          <tr>
            <th align="right">PASSED</th>
            <th colspan="2"></th>
            <th>FAILED</th>
          </tr>
          <tr>
            <td align="right">{{ stat.cpassed }}</td>
            <td bgcolor="green"
                width="{% widthratio stat.cpassed stat.ctotal 200 %}"/></td>
            <td bgcolor="red"
                width="{% widthratio stat.cfailed stat.ctotal 200 %}"/></td>
            <td>{{ stat.cfailed }}</td>
          </tr>
        </tbody>
      </table>
      <p></p>
      <table class="screen">
        <tbody>
          <tr>
             <th>Top Failed</th>
             <th>Count</th>
          </tr>{% for test in stat.top_failed %}
          <tr>
            <td>{{ test.path }}</th>
            <td align="right">{{ test.count }}</td>
          </tr>{% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <h2>Test Information</h2>
  <table id="test_table">
    <thead>
      <tr>
        <th></th>
        <th>event_id</th>
        <th>event_seq</th>
        <th>invocation</th>
        <th>status</th>
        <th>path</th>
        <th>pytest_name</th>
        <th>start_time</th>
        <th>end_time</th>
        <th>duration</th>
        <th>factory_md5sum</th>
        <th>reimage_id</th>
        <th>error_msg</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th>event_id</th>
        <th>invocation</th>
        <th>status</th>
        <th>path</th>
        <th>pytest_name</th>
        <th>start_time</th>
        <th>end_time</th>
        <th>duration</th>
        <th>factory_md5sum</th>
        <th>reimage_id</th>
        <th>error_msg</th>
      </tr>
    </tfoot>
    <tbody>{% for test in tests %}
      <tr>
        <td width="20"><script>
          if ("{{ test.invocation }}" in aaEvents) {
            document.write('<img src="{{ STATIC }}images/details_open.png"/>');
          }
        </script></td>
        <td>
          <a href="{% url 'event' test.event_id %}">
            {{ test.event_id|slice:":5" }}...{{ test.event_id|slice:"-5:" }}
          </a>
        </td>
        <td align="right">{{ test.event_seq }}</td>
        <td>{{ test.invocation }}</td>
        <td>{{ test.status }}</td>
        <td>{{ test.path }}</td>
        <td>{{ test.pytest_name }}</td>
        <td>{{ test.start_time|slice:"5:19" }}</td>
        <td>{{ test.end_time|slice:"5:19" }}</td>
        <td align="right">{{ test.duration|floatformat:3 }}</td>
        <td>{{ test.factory_md5sum|truncatechars:18 }}</td>
        <td>{{ test.reimage_id|truncatechars:18 }}</td>
        <td>{{ test.error_msg|truncatechars:200 }}</td>
      </tr>{% endfor %}
    </tbody>
  </table>
</body>
</html>
