{% extends "base.html" %}

{% block title %}Minijack: Live of HWIDs{% endblock %}

{% block javascripts %}
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/hwid_life.js"></script>
  <script type="text/javascript" language="javascript">
    var aaDevices = {{ device_list_json|safe }};
  </script>
{% endblock %}

{% block body %}
  <h1>Minijack: Life of HWIDs</h1>
  <table id="hwid_table" width="100%">
    <thead>
      <tr>
        <th></th>
        <th>hwid</th>
        {% for comp_class in class_set %}
        <th>{{ comp_class }}</th>{% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th>hwid</th>
        {% for comp_class in class_set %}
        <th>{{ comp_class }}</th>{% endfor %}
      </tr>
    </tfoot>
    <tbody>
      {% for hwid, comps in hwid_list %}
      <tr>
        <td width="20"><img src="{{ STATIC }}images/details_open.png"/></td>
        <td class="nowrap">{{ hwid }}</td>
        {% for comp_name in comps %}
        <td>{{ comp_name }}</td>{% endfor %}
      </tr>{% endfor %}
    </tbody>
  </table>
{% endblock %}
