{% load static %}
{% get_static_prefix as STATIC %}
{% load url from future %}
<html>
<head>
  <title>Minijack: Live of HWIDs</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" type="image/png" href="{{ STATIC }}images/logo32.png">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/smoothness/jquery-ui-1.8.4.custom.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/jquery.dataTables_themeroller.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/ColVis.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/minijack.css">
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.dataTables.plugins.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/ColVis.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery-ui-button.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/minijack_common.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/hwid_life.js"></script>
  <script type="text/javascript" language="javascript">
    var aaDevices = {{ device_list_json|safe }};
  </script>
</head>
<body>
  <div class="right">
    <a href="{% url 'build' %}"><button id="home_button">HOME</button></a>
    <a href="{% url 'query' %}"><button id="query_button">QUERY</button></a>
    <a href="{% url 'hwid' %}"><button id="hwid_button">HWID</button></a>
  </div>

  <h1>Minijack: Life of HWIDs</h1>
  <table id="hwid_table" width="100%">
    <thead>
      <tr>
        <th></th>
        <th>hwid</th>
        {% for comp_class in class_set %}
        <th>{{ comp_class }}</th>{% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th>hwid</th>
        {% for comp_class in class_set %}
        <th>{{ comp_class }}</th>{% endfor %}
      </tr>
    </tfoot>
    <tbody>
      {% for hwid, comps in hwid_list %}
      <tr>
        <td width="20"><img src="{{ STATIC }}images/details_open.png"/></td>
        <td class="nowrap">{{ hwid }}</td>
        {% for comp_name in comps %}
        <td>{{ comp_name }}</td>{% endfor %}
      </tr>{% endfor %}
    </tbody>
  </table>

</body>
</html>
