{% load static %}
{% get_static_prefix as STATIC %}
{% load url from future %}
<html>
<head>
  <title>Minijack: Live of Everything</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" type="image/png" href="{{ STATIC }}images/logo32.png">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/smoothness/jquery-ui-1.8.4.custom.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/jquery.dataTables_themeroller.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/ColVis.css">
  <link rel="stylesheet" type="text/css"
      href="{{ STATIC }}css/minijack.css">
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery.dataTables.plugins.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/ColVis.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/jquery-ui-button.min.js"></script>
  <script type="text/javascript" language="javascript"
      src="{{ STATIC }}js/minijack_common.js"></script>
  <script type="text/javascript" language="javascript">
    $(document).ready(function() {
      $("#result_table").dataTable({
        "aLengthMenu": [[20, 40, 60, 80, 100, 200, -1],
                        [20, 40, 60, 80, 100, 200, "All"]],
        "aaSorting": [],
        "bJQueryUI": true,
        "iDisplayLength": 100,
        "oColVis": {
          "sSize": "css",
          "sAlign": "right",
        },
        "sDom": "<lCfr><ip>t<ip>",
        "sPaginationType": "full_numbers",
        "aoColumns": [{% for column in column_list %}
          {"sTitle": "{{ column }}"},{% endfor %}
        ],
        "aaData": [{% for result in result_list %}
          [{% for item in result %}
            "{{ item|escapejs }}", {% endfor %}
          ],{% endfor %}
        ],
      });
    });
  </script>
</head>
<body>
  <div class="right">
    <a href="{% url 'build' %}"><button id="home_button">HOME</button></a>
    <a href="{% url 'query' %}"><button id="query_button">QUERY</button></a>
  </div>

  <h1>Minijack: Life of Everything</h1>

  <h2><form method="get" action="{% url 'query' %}">
    <label for="serach_input">SQL Query ></label>
    <input type="text" name="s" value="{{ sql_query }}"
      class="querybox" autofocus autocomplete="off"/>
  </form></h2>

  {% if error_message %}
  <h3 style="color:red">{{ error_message|linebreaks }}</h3>
  {% elif usage_message %}
  <h3>{{ usage_message|safe }}</h3>
  {% else %}
  <table id="result_table">
  </table>
  {% endif %}
</body>
</html>
