/*
 * Copyright 2017 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#main {
  align-self: flex-start;
}

#debug-panel {
  z-index: 10;
  position: absolute;
  right: 30;
  top: 30;
  border: 1px #555 solid;
  background-color: #DDD;
}
