table {
  margin: auto;
  border: solid 4px #779FD3;
  border-spacing: 0;
}
th, td {
  padding: 0 8px;
}
thead tr {
  font-size: 200%;
  background-color: #CDDFF0;
}
thead tr th {
  text-align: center;
}
tbody tr {
  background-color: white;
}
tbody tr:first-child * {
  padding-top: 4px;
}
tbody tr:last-child * {
  padding-bottom: 4px;
}
.float-right {
  float: right;
}
.cd-log, .cd-legend {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid 4px #779FD3;
  background-color: white;
  text-align: left;
  width: 80%;
}
.cd-log {
  height: 50%;
  overflow: scroll;
  padding: 10px;
}
.cd-legend {
  display: none;
}
.cd-legend-title {
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #CDDFF0;
}
.cd-legend-item-container {
  padding-left: 5px;
  padding-right: 5px;
}
.cd-legend-item {
  width: 24%;
  display: inline-block;
}
