/*
 * Copyright 2017 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#test-results-table-container {
  overflow: auto;
}

test-template.test-accessibility {
  --template-background-color: #F77;
}

table {
  padding-bottom: 1em;
}

th, td {
  padding: 0 1em;
}

#prompt-message-container {
  font-size: 2em;
}

#test-status-label {
  font-size: 3em;
}

.screensaver-msg-0 {
  color: #c00;
}

.screensaver-msg-1 {
  color: #0c0;
}

.screensaver-msg-2 {
  color: #00c;
}

.screensaver-disabled {
  display: none;
}

.screensaver-enabled {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#screensaver-msg {
  position: absolute;
  white-space: nowrap;
  font-size: 3em;
}
