# License: Apache License 2.0
dulwich==0.20.3

# 3-Clause BSD License
flask==1.1.1

# License: Apache License 2.0
googleapis_common_protos==1.52.0

# License: Apache License 2.0
google-auth==1.27.0

# License: Apache License 2.0
google-cloud-logging==1.15.0

# License: Apache License 2.0
google-cloud-ndb==1.7.1

# License: Apache License 2.0
google-cloud-storage==1.29.0

# License: Apache License 2.0
google-cloud-tasks==1.5.0

# License: MIT
gunicorn==20.0.4

# 3-Clause BSD License
protobuf==3.12.2

# License: MIT
PyYaml==3.13

# License: MIT
redis==3.3.11

# License: MIT
urllib3==1.24.2
