# Test Automation Config
#
# This is a python dictionary object, map from test_path to a tuple
# Tests that are not in this file will be skipped.
# In the tuple there are the arguments for controlling the test:
#   time_out (sec): the test will be stopped after time_out
#   input string to browser: Input string to browser are like 'hello world\n'
#   input keys using ectool: Input keys using ectool are like 'hello world<enter>'
#   custom function: Custom functions can also be used,
#     like custom_function/FATP_factory_Finalize.py

# Please insert USB at the beginning and setup shopfloor server
{
  'SMT.Start':
    (10, ' ',),
  'SMT.Components.Countdown':
    (),
  'SMT.Components.StressAppTest':
    (),
  'SMT.Components.Battery':
    (),
  'SMT.Components.Fan':
    (),
  'SMT.Components.TempSensor':
    (),
  'SMT.Components.Lightbar':
    (),
  'SMT.Components.ALS':
    (),
  'SMT.Components.Touchscreen':
    (),
  'SMT.Components.Touchscreen2':
    (),
  'SMT.Components.Touchpad':
    (),
  'SMT.Components.Touchpad2':
    (),
  'SMT.Components.factory_Camera':
    (),
  'SMT.Components.SSD':
    (),
  'SMT.Components.3G':
    (),
  'SMT.Components.GPS':
    (),
  'SMT.Components.Wifi':
    (),
  'SMT.Reboot':
    (),
  'SMT.factory_USB':
    (10,),
  'SMT.AudioJack':
    (30, 's',),
  'SMT.Finish':
    (10, None, ' ',),
  'RunIn.Start':
    (),
  'RunIn.StressAppTest':
    (30000,),
  'RunIn.Graphics':
    (30000,),
  'RunIn.RandomNumberGen':
    (30000,),
  'RunIn.Countdown':
    (30000,),
  'RunIn.Reboot':
    (),
  'RunIn.Summary':
    (10, ' ',),
  'RunIn.Finish':
    (10, None, ' ',),
  'FATP.Start':
    (10, 'link\n',),
  'FATP.ScanABPanel':
    (10, None, '0123456789012\n',),
  'FATP.Battery':
    (10,),
  'FATP.Fan':
    (30,),
  'FATP.TempSensor':
    (30,),
  'FATP.factory_USB':
    (10, None, None, 'FATP_factory_USB'),
  'FATP.WLAN_BT':
    (10, None, None, 'FATP_WLAN_BT'),
  'FATP.factory_VPD':
    (60,),
  'FATP.factory_HWID':
    (60,),
  'FATP.factory_Finalize':
    (None, None, None, 'FATP_factory_Finalize'),
}
# vim: set syntax=python:
