#touchpad-test-first-container {
  flex: 1;
  display: flex;
  align-self: stretch;
}

#touchpad-test-second-container {
  display: flex;
  align-self: stretch;
}

.touchpad-test-table {
  display: grid;
  margin: 3px;
}

.touchpad-test-table div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.touchpad-test-prompt {
  font-size: 2em;
}

#touchpad-test-timer {
  font-size: 2em;
}

.touchpad-test-sector {
  background-color: gray;
}

.touchpad-test-sector.tested {
  background-color: green;
  opacity: 0.5;
}

.touchpad-test-circle {
  border: 3px solid gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: .5em;
}

.touchpad-test-circle.down {
  border: 3px solid yellow;
}

.touchpad-test-circle.tested {
  border: 3px solid green;
}

#quadrant-table {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  flex: 4;
  text-align: center;
  margin: 3px;
}

.touchpad-test-click {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
